<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%- include('./partials/head'); %>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <header class="container-fluid p-0">
        <%- include('./partials/headerLoggedIn'); %>  
    </header>
    <div  class="container-fluid">
        <div  class="row">
            <div id="sideBar" class="col-sm-auto  sticky-top bg-light">
                <div id="sideBar" class="d-flex flex-sm-column flex-row flex-nowrap  align-items-center sticky-top">
                    <img class="p-2" id="trucka" src="truck.png" alt="">
                    <h6 class="pb-5">FoodTruck Manager</h6>
                    
                    <ul class="nav nav-pills nav-flush flex-sm-column flex-row flex-nowrap mb-auto mx-auto text-center align-items-center">
                        <ul class="nav nav-pills nav-flush flex-sm-column flex-row flex-nowrap mb-auto mx-auto text-center align-items-center pb-5">
                        <li class="nav-item flex-sm-column">
                            <a href="#" class="nav-link  px-2" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Home">
                                <img id="logos" class="" src="orders.svg" alt="">
                                
                            </a>
                        </li>
                        <li class="nav-item flex-sm-column pt-0"><a href=""><span>Orders</span></a> </li>
                        </ul>
                        <li class="nav-item">
                          <ul class="nav nav-pills nav-flush flex-sm-column flex-row flex-nowrap mb-auto mx-auto text-center align-items-center pb-5">  
                            
                            <li><a href="#" class="nav-link py-3 px-2" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Dashboard">
                                
                               <img id="logos" class="" src="clock.svg" alt="">
                               
                            </a>
                        </li>
                        <li><a href=""> <span>Clock IN/OUT</span></a>
                        </li>
                    </ul>
                
                    </li>
                        <li>
                            <ul class="nav nav-pills nav-flush flex-sm-column flex-row flex-nowrap mb-auto mx-auto text-center align-items-center pb-5">
                                <li>
                            <a href="#" class="nav-link py-3 px-2" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Orders">
                                <img id="logos" src="menu.svg" alt=""></a>
                            </li>
                            <li> <a href=""><span>Food Menu</span></a></li>
                        </ul>
                        </li>

                        <li>
                            <ul class="nav nav-pills nav-flush flex-sm-column flex-row flex-nowrap mb-auto mx-auto text-center align-items-center pb-5">
                                <li>
                            <a href="#" class="nav-link py-3 px-2" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Orders">
                                <img id="logos" src="reports.svg" alt=""></a>
                            </li>
                            <li> <a href=""><span>Accounting</span></a></li>
                        </ul>
                        </li>
                    </ul>
                        
                       
                    
                    
                </div>
            </div>
            <div class="col-sm p-3 min-vh-100">
                <!-- content -->

                <div><h3>Your Tax: </h3></div>

                <h4>Change your Tax rate here:</h4>
                <div class="justify-content-center align-items-center">

                  <!-- <form class="p-3" action="/accounting/changeLocal/:id?_method=PUT" method='POST'>
                    <div class="col-md-3 mb-3">
                      <label for="validationDefault04">Local Tax</label>
                      <input type="number" step="any" placeholder="Local Tax" name="localTax">
                      <input type="submit">
                    </div>
                  </form> -->
              </div>


              

              


            </div>

        </div>
        
    </div>

   
    
 

    <footer class="fixed-bottom">
        <%- include('./partials/footer'); %>
    </footer>

    <script src="js/main.js"></script>
</body>
</html>