/* h1{
    color: red;
} */
/* .completed{
    text-decoration: line-through;
    color: gray;
}
.not{
    text-decoration: underline;
} */


/* body{
    background-color: #303633;
} */

/* #restOfDocIndex{
    background-color: #AFECE7;
} */

body{
    background-color: #DEF7F5;
}

#navHead{
    background-color: #8CE3DC;
}

#blackBoard{
    height: 500px;
    width: 450px;
}

.wrapper {
    display: flex;
    width: 100%;
}

.wrapper {
    display: flex;
    width: 100%;
}

/* #sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    background: #7386D5;
    color: #fff;
    transition: all 0.3s;
} */

/* #sideBar{
    background: #7386D5;
} */

#trucka{
    max-height: 150px;
    max-width: 150px;
}
#logos{
    height: 52px;
    width: 52px;
}

#navContent{
    background-color: #DEF7F5;
}

#logoCat{
    max-height: 100px;
    min-height: 75px;
    max-width: 100px;
    min-width: 75px;

}

#menuItem{
    text-decoration: none;
}

#money{
    color: green;
}